/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: #151515;
}

/** Bar ***********************************/
.wid_get {
	background-color: #9484ac;
	border: 1px solid #161616;
	border-radius: 12px;
}
 
/** Icons ***********************************/
.appicon {
    background-repeat: no-repeat;
	background-size: 71px;
	min-height: 71px;
	min-width: 71px;
	margin: 10px 8px 0px 8px;
}

/** Clock ********************************************/
.clockbox {
	margin : 0px 0px 0px 15px;
}

.hour{
	font-size: 60px;
	margin: -30px 0px 0px -15px;
	color: #78ed84;
}
.minute{
	font-size: 40px;
	margin: 0px 0px 0px 30px;
	color: #78ed84;
}
.second{
	font-size: 20px;
	margin: 0px 0px -40px 60px;
	color: #78ed84;
}
.time {
	font-size : 14px;
	font-weight : bold;
}

.date {
	font-size : 10px;
	font-weight : bold;
}
/** Date ********************************************/
.dayname{
	font-size: 60px;
	margin: -50px 0px 0px -15px;
	color: #ed7878;
	font-weight: bold;
}

.day{
	font-size: 40px;
	margin: 0px 0px 0px 20px;
	color: #ed7878;
	font-weight: bold;
}

.month{
	font-size: 20px;
	margin: 0px 0px -40px 60px;
	font-weight: bold;
	color: #ed7878;
}

/** Music *************************************************/
.album_art {
	background-size: 220px;
	min-height: 220px;
	min-width: 220px;
	margin: 20px;
	border-radius: 14px;
}

.song {
	color: #8FBCBB;
	font-size : 20px;
	font-weight : bold;
	margin : 40px 0px 0px 0px;
}

.artist {
	color: #EBCB8B;
	font-size : 20px;
	font-weight : normal;
	margin : 0px 0px 15px 0px;
}


.prev {
	color: #EBCB8B;
	font-size : 42px;
	font-weight : normal;
	margin: 0px 0px 0px 50px
}
.play {
	color: #A3BE8C;
	font-size : 60px;
	font-weight : bold;
	margin: 0px 10px 0px 0px;
}
.next {
	color: #EBCB8B;
	font-size : 42px;
	font-weight : normal;
	margin: 0px 40px 0px 0px
}


/** System *************************************************/




.username {
	font-size: 28px;
}

.profileimage {
	background-size: 180px;
	min-height: 180px;
	min-width: 180px;
	margin: 8px 0px 8px 0px;
	border-radius: 100%;
}

.uptime{
	font-size: 25px;
	color: #C04364;
	font-weight: bold;
	margin: 160px 0px 0px 6px;
}



.telegram{
	background-size: 120px;
	min-height: 120px;
	min-width: 120px;
	background-color: #29b6f6;
	border: 1px solid #161616;
	border-radius: 12px;
}

.reddit{
	background-size: 120px;
	min-height: 120px;
	min-width: 120px;
	background-color: #ff4500;
	border: 1px solid #161616;
	border-radius: 12px;
}

.youtube{
	background-size: 120px;
	min-height: 120px;
	min-width: 120px;
	background-color: #cd201e;
	border: 1px solid #161616;
	border-radius: 12px;
}
.github{
	background-size: 120px;
	min-height: 120px;
	min-width: 120px;
	background-color: #1b1f23;
	border: 1px solid #161616;
	border-radius: 12px;
}

.poweroff{
	background-size: 100px;
	min-height: 100px;
	min-width: 100px;
	margin: 10px 0px 0px 10px;
}
.sleep{
	background-size: 100px;
	min-height: 100px;
	min-width: 100px;
	margin: 10px 0px 0px 10px;
}

.logout{
	background-size: 100px;
	min-height: 100px;
	min-width: 100px;
	margin: 10px 0px 0px 10px;
}

.reboot{
	background-size: 100px;
	min-height: 100px;
	min-width: 100px;
	margin: 10px 0px 0px 10px;
}


.iconmic, .iconvolume, .iconbrightness{
	font-size : 28px;
	font-weight : normal;
}
.iconmic {
	color: #85da6c;
}
.iconvolume {
	color: #5c64ff;
}
.iconbrightness {
	color: #f4bd6b;
}


.volume_bar, .brightness_bar, scale trough {
	all: unset;
	background-color: #282C34;
	border-radius: 10px;
	min-height: 18px;
	min-width: 220px;
}

.volume_bar, .brightness_bar, scale trough highlight {
	all: unset;
	border-radius: 12px;
}

.volume_bar scale trough highlight {
	background-color: #5c64ff;
}
.brightness_bar scale trough highlight {
	background-color: #e0af68;
}
.mic_bar scale trough highlight {
	background-color: #85da6c;
}

.res_box {
	background-color: #9484ac;
	border-radius: 12px;
	padding: 14px 18px 14px 18px;
}

.res_circle {
	background-color: #e7e2e2;
	border: 0px solid #161616;
	border-radius: 100%;
	padding: 0px;
}

.res_circle_small {
	background-color: #b7a4d3;
	border: 0px solid #161616;
	border-radius: 100%;
	padding: 35px;
}

.res_text {
	background-color: #E6E1D7;
	border: 1px solid #161616;
	border-radius: 16px;
	font-size : 14px;
	padding: 0px 8px 0px 8px;
	margin: 0px 0px 0px 0px;
	font-weight : bold;
}

.res_cpu {
	color: #FD6B85;
}

.res_mem {
	color: #6f57f5;
}

