/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: #151515;
}

/** Bar ***********************************/
.wid_get {
	background-color: #9484ac;
	border: 1px solid #161616;
	border-radius: 12px;
}
 
/** Icons ***********************************/
.genicon {
    background-repeat: no-repeat;
	background-size: 20px;
	min-height: 20px;
	min-width: 20px;
}

.appicon {
    background-repeat: no-repeat;
	background-size: 64px;
	min-height: 64px;
	min-width: 64px;
	margin: 8px 8px 0px 8px;
}

.workspace {
	background-color: #C04364;
	color: #ffffff;
	border: 2px solid #161616;
	border-radius: 16px;
	font-size : 14px;
	padding: 0px 6px 0px 6px;
	margin: -2px 0px 0px 0px;
	font-weight : bold;
}

/** Clock ********************************************/
.clockbox {
	margin : 0px 0px 0px 15px;
}

.hour{
	font-size: 80px;
	margin: 0px 0px 0px 0px;
}
.minute{
	font-size: 40px;
	margin: 0px 0px 0px 30px;
}
.second{
	font-size: 20px;
	margin: 0px 0px 0px 60px;
}
.time {
	font-size : 14px;
	font-weight : bold;
}

.date {
	font-size : 10px;
	font-weight : bold;
}
/** Date ********************************************/
.dayname{
	font-size: 32px;
}

.day{
	font-size: 20px;
}

.month{
	font-size: 23px;
}

/** Weather ********************************************/
.weatherbox {
	margin : 0px 0px 0px -90px;
}

.weathericon {
	font-family: Iosevka Nerd Font;
	font-size : 32px;
	font-weight : normal;
}

.weathertemp {
	font-size : 22px;
	font-weight : bold;
	margin : 0px 0px 0px -5px;
	color: #161616;
}

/** Music *************************************************/
.album_art {
	background-size: 240px;
	min-height: 240px;
	min-width: 240px;
	margin: 20px;
	border-radius: 14px;
}

.song {
	color: #8FBCBB;
	font-size : 24px;
	font-weight : bold;
	margin : 40px 0px 0px 0px;
}

.artist {
	color: #EBCB8B;
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 15px 0px;
}

.btn_prev, .btn_play, .btn_next {
	font-family: Iosevka Nerd Font;
}
.btn_prev {
	color: #EBCB8B;
	font-size : 42px;
	font-weight : normal;
}
.btn_play {
	color: #A3BE8C;
	font-size : 60px;
	font-weight : bold;
	margin: 0px 10px 0px 0px;
}
.btn_next {
	color: #EBCB8B;
	font-size : 42px;
	font-weight : normal;
}


/** System *************************************************/
.mails {
	background-color: #FFC8C8;
	border: 0px solid #161616;
	border-radius: 16px;
	font-size : 14px;
	padding: 0px 5px 0px 5px;
	margin: 10px 0px 10px 0px;
	font-weight : bold;
}

.trayicon {
    background-repeat: no-repeat;
	background-size: 24px;
	min-height: 24px;
	min-width: 24px;
	margin: 8px 0px 0px 0px;
}

.infotext {
	background-color: #DCD7CD;
	border: 0px solid #161616;
	border-radius: 16px;
	font-size : 14px;
	padding: 0px 5px 0px 5px;
	margin: 10px 0px 10px 0px;
	font-weight : bold;
}

.username {
	font-size: 28px;
}

.profileimage {
	background-size: 180px;
	min-height: 180px;
	min-width: 180px;
	margin: 8px 0px 8px 0px;
	border-radius: 100%;
}

.uptime{
	font-size: 25px;
	color: #C04364;
	font-weight: bold;
	margin: 160px 0px 0px 6px;
}

.reddit{
	font-size: 68px;
}

.github{
	font-size: 68px;
}

.youtube{
	font-size: 68px;
}

.telegram{
	background-size: 120px;
	min-height: 120px;
	min-width: 120px;
}